
body {
    background: rgba(0, 0, 0, 0.975);
    color: white;
    

}

p {
    margin-left: 100px;

    color: #9001F5;
    font-size: 25px;
    font-family: fantasy;

}

ul {
    margin-left: 80px;

    color:white;
    font-family: fantasy;
    font-size: 25px;
}

.img img {
    position: absolute;
    margin-left:65%;
    width: 350px;
    
    margin-top: 125px;
}



.proa img {
    margin-top: 7px;
    width: 150px;    
}


footer {
    position:absolute;
    bottom: 0;
    background-color:#9001F5 ;
    width: 100%;
    height: 50px;    
    text-align: center;
    line-height: 100px;
    margin-left: -10px;
}




a {

    display: flex;
    text-decoration: none;
   

    background: #9001F5;
    color: black;

    width: 150px;
    height: 40px;

    border-radius: 20px;

    font-size: 14px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;

    box-shadow:0px 20px 16px;
}




.px a {
    margin-left: 144px;
    margin-top: -4.6%;
}


.vol a {
    margin-top: 2.9%;
    margin-left: -0.5%;
}

a:hover {
    background-color: #9719f154;
    text-decoration: none;
}
